*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

$degradado: linear-gradient(62deg, #195ea3 0%, #8633d4 100%);
$colorletrasmenu: blueviolet;
$textosblancos: #fff;

header{
    display: flex;
    background-image: url(./multimedia/fondo.jpg);
    min-height: 70px;
    width: 100%; 
    justify-content: space-between;
    text-align: center;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 22px;
    padding: 20px;
}
nav ul li a{
    font-weight: 600;
    padding-right: 10px;
}

nav ul li a:hover{
    color: $colorletrasmenu;
}

@media (min-width: 320px) and (max-width: 720px){
    header{
        display: none;
    }
}

@media (min-width: 720px) and (max-width: 1920px){
    .navbar{
        display: none;
    }
}

nav ul li a{
    padding: 10px 0px;
}

h1{
    background-color: #0055aa;
    background-image: $degradado;
    color: $textosblancos;
    text-align: center;
    font-size: 80px;
    height: 100px;
    width: 100%;
}

@media  screen and (min-width: 320px ){
    h1{
        display: flex;
        width: 320px;
        font-size: 30px;
        justify-content: center;
        align-items: center;
        width: 100vw;
    }
    
}

@media  screen and (min-width: 412px ){
    h1{
        display: flex;
        width: 412px;
        font-size: 50px;
        justify-content: center;
        align-items: center;
        width: 100vw;
    }
    
}


.logo img{
    display: flex;
    color: $textosblancos;
    height: 50px;
    align-items: center;

}

.barra{
    float: right;
}

.barra ul li{
    list-style: none;
    display: inline-block;
}

.barra a{
    color: $textosblancos;
    text-decoration: none;
}


.galery{
    height: 400px;
    width: 400px;
}

/* falta acomodar la imagen de inicio */

h2{
    background-color: rgb(42, 155, 117);
    color: $textosblancos;
    text-align: center;
}
table{
    background-color: #a77710;
    margin: 0 auto;
}

table, th, td{
    border: 5px solid black;
}

th {
    text-align: center;
}
td {
    text-align: center;
}

html{
    height: 100%;
    width: 100vw;
    overflow-x: hidden;
}
body{
    background-color: #141516;
    background-image: linear-gradient(270deg, #141516 0%, #562387 33%, #6d4b6c 66%, #080808 100%);
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    width: 100vw;
    overflow-x: hidden;
}


/* =========================================================================== */
/*                      Footer */
/* =========================================================================== */
footer{
    width: auto;
    background-color: rgba(22, 1, 1, 0.76);
    color: $textosblancos;
    text-align: center;
    font-size: 30px;
    padding: 20px;
    margin-top: auto;
}

.social-link a{
    font-size: 50px;
    color: orange;
    text-decoration: none;
}
.social-link i{
    letter-spacing: 20px;
}
.social-link p{
    font-size: 16px;
}

/* =========================================================================== */
/*                          estilo para la tienda*/
/* =========================================================================== */

.tienda ul li{
    background-color: black;
    color: $textosblancos;
    

}

/* =========================================================================== */
/*                      estilo para armar pc*/
/* =========================================================================== */
.armatupc{
    background-color: violet;
    color: $textosblancos;
    text-align: center;
}
.pf{
    background-color: black;
    color: $textosblancos;
    text-align: center;
    font-size: 22px;
}

.intel-amd{
    display: flex;
    justify-content: space-around;
    align-items: center;
}



.intel{
    transition: 0.5s;
    object-fit: cover;
}

.amd{
    transition: 0.5s;
    object-fit: cover;
}

.amd:hover{
    transform: scale(1.2);
}

.intel:hover{
    transform: scale(1.2);
}


/* =========================================================================== */
/*estilo para NOSOTROS*/
/* =========================================================================== */
.texto{
    color: $textosblancos;
    padding: auto;
}

/* .nosotros1{
    width: 500px;
    height: 500px;
}
.nosotros2{
    background-color: #bdbde2;
    color: black;
    font-size: 28px;
}
.nosotros3{
    background-color: #adacdd;
    color: black;
    font-size: 22px;
} */

/* =========================================================================== */
/*                          estilo para CRYPTOS*/
/* =========================================================================== */
.sobrecriptos{
    display: flex;
    justify-content: flex-start;
    margin-inline-start: 50px;
    font-size: 50px;
    background-color: black;
    color: $textosblancos;
}
.cryptoimg {
    display: flex;
    justify-content: flex-end;
}

.necesita {
    width: 100%;
    color: azure;
    font-size: 30px;
}

.rig{
    display: grid;
    width: 280px;
    height: 200px;
    grid-row-gap: 10px;
    transition: 0.5s;
    object-fit: cover;
}

.rig:hover{
    transform: scale(1.2);
}

.col{
    background-color: black;
    color: $textosblancos;
}

/*@media  screen and (max-width: 412px){
    .cryptoimg {
        display: flex;
        align-self: flex-end;
        width: 200px;
        height: 200px;
    }

}
*/



/*.galeria {
    height: auto;
    max-width: 100%;
    display: grid;
    grid-template-rows: repeat(3, 1fr);
    grid-template-columns: repeat(4, 1fr);
    gap: 8px;
    }

.rigmingjpg{
   border-radius: 10px;
   min-height: 200px;
   font-weight: bold;
   padding: 20px;
   position: relative;
   overflow: hidden;
   background-size: cover;
   background-position: center;
}*/

/* =========================================================================== */
/*                          estilo para contacto*/
/* =========================================================================== */
.contacto1{
    background-color: black;
    color: #fff;
    font-size: 28px;
    padding-left: 80px;
    margin-inline-start: 12px;
}
.contacto2{
    background-color: black;
    color: #fff;
    font-size: 22px;
    padding-left: 40px;
    margin-inline-start: 50px;
}

.contacto3{
    background-color: black;
    color: #fff;
    font-size: 18px;
    padding-left: 40px;
    margin-inline-start: 50px;
}

/*form{
    float: right;
}*/

/*.section-contacto-form iframe{
    display: flex;
    justify-content: center;
}*/
.container{
    display: flex;
    justify-content: space-around;
}

label{
    background-color: black;
    color: #fff;
}

/*iframe{ 
    display: flex;
    margin-inline-start: 50px;

}*/

