* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

header {
  display: flex;
  background-image: url(./multimedia/fondo.jpg);
  min-height: 70px;
  width: 100%;
  justify-content: space-between;
  text-align: center;
  align-items: center;
  font-family: courier;
  font-size: 22px;
  padding: 20px;
}

.logo {
  border-radius: 50%;
}

nav ul li a {
  font-weight: 600;
  padding-right: 10px;
}

nav ul li a:hover {
  color: blueviolet;
}

@media (min-width: 320px) and (max-width: 720px) {
  header {
    display: none;
  }
}
@media (min-width: 720px) and (max-width: 1920px) {
  .navbar {
    display: none;
  }
}
nav ul li a {
  padding: 10px 0px;
}

h1 {
  background-color: #0055aa;
  background-image: linear-gradient(62deg, #195ea3 0%, #8633d4 100%);
  font-family: cambria cursive;
  color: #fff;
  text-align: center;
  font-size: 80px;
  text-shadow: 3px -4px 6px #61a2e4, #1682a3 -1px 8px 4px;
  height: 100px;
  width: 100vw;
}

@media screen and (min-width: 320px) {
  h1 {
    display: flex;
    width: 320px;
    font-size: 30px;
    justify-content: center;
    align-items: center;
    width: 100vw;
  }
}
@media screen and (min-width: 412px) {
  h1 {
    display: flex;
    width: 412px;
    font-size: 50px;
    justify-content: center;
    align-items: center;
    width: 100vw;
  }
}
@media screen and (min-width: 720px) {
  h1 {
    display: flex;
    width: 720px;
    font-size: 65px;
    justify-content: center;
    align-items: center;
    width: 100vw;
  }
}
.logo img {
  display: flex;
  color: #fff;
  height: 50px;
  align-items: center;
}

.barra {
  float: right;
}

.barra ul li {
  list-style: none;
  display: inline-block;
}

.barra a {
  color: #fff;
  text-decoration: none;
}

.galery {
  height: 400px;
  width: 400px;
}

h2 {
  display: flex;
  justify-content: center;
  text-align: center;
  align-items: center;
  background-color: #6ABDF7;
  color: #fff;
  text-align: center;
  font-size: auto;
  font-family: cambria cursive;
  height: 65px;
}

table {
  background-color: #a77710;
  margin: 0 auto;
}

table, th, td {
  border: 5px solid black;
}

th {
  text-align: center;
}

td {
  text-align: center;
}

html {
  height: 100%;
  width: 100vw;
  overflow-x: hidden;
}

body {
  background-color: #141516;
  background-image: linear-gradient(270deg, #141516 0%, #562387 33%, #6d4b6c 66%, #080808 100%);
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  width: 100vw;
  overflow-x: hidden;
}

.navbar {
  background-image: url(multimedia/fondo.jpg);
}

/* =========================================================================== */
/*                 estilo para main */
/* =========================================================================== */
.principales {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  text-align: center;
  margin: 3px;
  margin-left: 20%;
  margin-right: 20%;
  color: #fff;
}

.prin1 {
  flex: 50%;
  width: 300px;
  right: 300px;
  margin: 5px;
  padding: 10px 10px;
}

.principales .prin1 img {
  width: 300px;
  right: 300px;
  overflow: hidden;
  background-color: #080808;
}

@media (min-width: 320px) and (max-width: 1250px) {
  .principales {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
  }
}
/* ========================================================== */
.favoritos {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  text-align: center;
  margin: 3px;
  margin-left: 20%;
  margin-right: 20%;
  color: #fff;
}

.gamer {
  flex: 50%;
  width: 300px;
  right: 300px;
  margin: 5px;
  padding: 10px 10px;
}

.favoritos .gamer img {
  width: 300px;
  right: 300px;
  overflow: hidden;
  background-color: #080808;
}

@media (min-width: 320px) and (max-width: 1250px) {
  .favoritos {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
  }
}
/* ========================================================== */
.contenedor {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  text-align: center;
  margin: 15px 15px;
  margin-left: 15%;
  margin-right: 15%;
  background-image: linear-gradient(270deg, #141516 0%, #562387 33%, #6d4b6c 66%, #080808 100%);
}

h4 {
  padding: 5px;
  border-radius: 6px;
  background-color: #083969;
  color: #fff;
}

.item1 p {
  border-radius: 6px;
  padding: 10px;
  background-color: #083969;
  color: #fff;
  box-shadow: 0px 1px 10px rgba(0, 0, 0, 0.2);
  transition: all 400ms ease;
}

.item1 {
  flex: 50%;
}

.boton {
  padding: 5px 5px;
  background-color: #083969;
  color: #fff;
  border-radius: 10px;
}

.boton:hover {
  transition: 0.5s;
  transform: scale(1.2);
}

.contenedor .item1 {
  padding: 5px;
  text-align: center;
  margin: 10px;
}

.item1:hover {
  box-shadow: 5px 5px 20px rgba(0, 0, 0, 0.4);
}

@media (min-width: 320px) and (max-width: 1250px) {
  .contenedor {
    display: flex;
    flex-direction: column;
  }
}
/* =========================================================================== */
/*                      Footer */
/* =========================================================================== */
footer {
  width: auto;
  background-color: rgba(22, 1, 1, 0.76);
  color: #fff;
  text-align: center;
  font-size: 30px;
  padding: 20px;
  margin-top: auto;
  overflow-x: hidden;
}

.social-link a {
  font-size: 50px;
  color: orange;
  text-decoration: none;
}

.social-link i {
  letter-spacing: 20px;
}

.social-link p {
  font-size: 16px;
}

/* =========================================================================== */
/*                          estilo para la tienda*/
/* =========================================================================== */
.tienda ul li {
  background-color: black;
  color: #fff;
}

.itemlist {
  color: #fff;
}

.svg-frame {
  position: relative;
  width: 300px;
  height: 300px;
  transform-style: preserve-3d;
  display: flex;
  justify-content: center;
  align-items: center;
}

.svg-frame svg {
  position: absolute;
  transition: 0.5s;
  z-index: calc(1 - 0.2 * var(--j));
  transform-origin: center;
  width: 344px;
  height: 344px;
  fill: none;
}

.svg-frame:hover svg {
  transform: rotate(-80deg) skew(30deg) translateX(calc(45px * var(--i))) translateY(calc(-35px * var(--i)));
}

.svg-frame svg #center {
  transition: 0.5s;
  transform-origin: center;
}

.svg-frame:hover svg #center {
  transform: rotate(-30deg) translateX(45px) translateY(-3px);
}

#out2 {
  animation: rotate16 7s ease-in-out infinite alternate;
  transform-origin: center;
}

#out3 {
  animation: rotate16 3s ease-in-out infinite alternate;
  transform-origin: center;
  stroke: #ff0;
}

#inner3,
#inner1 {
  animation: rotate16 4s ease-in-out infinite alternate;
  transform-origin: center;
}

#center1 {
  fill: #ff0;
  animation: rotate16 2s ease-in-out infinite alternate;
  transform-origin: center;
}

@keyframes rotate16 {
  to {
    transform: rotate(360deg);
  }
}
/* =========================================================================== */
/*                      estilo para armar pc*/
/* =========================================================================== */
.armatupc {
  background-color: violet;
  color: #fff;
  text-align: center;
  margin-left: 10%;
  margin-right: 10%;
}

.pf {
  display: flex;
  justify-content: center;
  background-color: black;
  color: #fff;
  text-align: center;
  font-size: 22px;
  margin-left: 20%;
  margin-right: 20%;
}

.intel-amd {
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.intel {
  transition: 0.5s;
  -o-object-fit: cover;
     object-fit: cover;
}

.amd {
  transition: 0.5s;
  -o-object-fit: cover;
     object-fit: cover;
}

.amd:hover {
  transform: scale(1.2);
}

.intel:hover {
  transform: scale(1.2);
}

@media (min-width: 320px) and (max-width: 720px) {
  .intel-amd {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
  }
  .intel .amd {
    display: flex;
    align-items: center;
    width: 200px;
    height: 200px;
  }
}
/* =========================================================================== */
/*estilo para NOSOTROS*/
/* =========================================================================== */
.texto {
  color: #fff;
  font-family: inherit;
  padding: auto;
  margin-left: 5%;
  margin-right: 5%;
}

.div2 {
  display: flex;
  flex-direction: row-reverse;
  justify-content: center;
  align-items: center;
}

@media screen and (min-width: 320px) and (max-width: 768px) {
  .div2 {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
  }
}
@media screen and (min-width: 768px) and (max-width: 1254px) {
  .nosotros2 {
    width: 450px;
    height: 450px;
  }
}
/* =========================================================================== */
/*                          estilo para CRYPTOS*/
/* =========================================================================== */
.sobrecriptos {
  display: flex;
  justify-content: space-between;
  margin-inline-start: 50px;
  font-size: 50px;
  background-color: black;
  color: #fff;
}

.cryptoimg {
  display: flex;
  justify-content: flex-end;
}

@media screen and (min-width: 320px) {
  .sobrecriptos {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    margin-inline-start: 10px;
    font-size: 30px;
    background-color: black;
    color: #fff;
  }
  .sobrecriptos .cryptoimg {
    display: flex;
    width: 200px;
    height: 200px;
  }
}
@media screen and (min-width: 720px) {
  .sobrecriptos {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    margin-inline-start: 10px;
    font-size: 30px;
    background-color: black;
    color: #fff;
  }
  .sobrecriptos .cryptoimg {
    display: flex;
    align-items: center;
    width: 250px;
    height: 250px;
  }
}
.necesita {
  width: 100vw;
  color: azure;
  font-size: 30px;
}

.rig {
  display: grid;
  width: 280px;
  height: 200px;
  grid-row-gap: 10px;
  transition: 0.5s;
  -o-object-fit: cover;
     object-fit: cover;
}

.rig:hover {
  transform: scale(1.2);
}

.col {
  background-color: black;
  color: #fff;
  display: grid;
  text-align: center;
  justify-content: center;
}

/* =========================================================================== */
/*                          estilo para contacto*/
/* =========================================================================== */
.contacto1 {
  background-color: rgba(226, 40, 226, 0.253);
  color: #fff;
  font-size: 28px;
  padding-left: 50px;
  margin-right: 85%;
  margin-left: 50%;
  margin-inline-start: 50px;
}

.contacto2 {
  background-color: rgba(226, 40, 226, 0.253);
  color: #fff;
  font-size: 22px;
  padding-left: 40px;
  margin-right: 29%;
  margin-inline-start: 50px;
}

.contacto3 {
  background-color: rgba(226, 40, 226, 0.253);
  color: #fff;
  font-size: 18px;
  padding-left: 40px;
  margin-right: 80%;
  margin-inline-start: 50px;
}

@media screen and (min-width: 320px) {
  .contacto2 {
    background-color: rgba(226, 40, 226, 0.253);
    color: #fff;
    font-size: 22px;
    padding-left: 20px;
    padding-right: 20px;
  }
}
.container {
  display: flex;
  justify-content: space-around;
}

label {
  color: #fff;
}

@media screen and (min-width: 320px) and (max-width: 720px) {
  .container {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
  }
}
@media screen and (min-width: 720px) and (max-width: 953px) {
  .container {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
  }
}/*# sourceMappingURL=estilo.css.map */